@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html {
	font-size: 62.5%;
}

:root {
	--font-size: 1.6rem;
	--font-family: 'Rajdhani', sans-serif;
	--purple: #1b052d;
	--yellow: #ffb319;
	--dark: #000;
	--light: #f4eddd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--yellow) rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	overflow: overlay;
	width: 0.8rem;
	height: 0.5rem;
}

::-webkit-scrollbar-track {
	display: initial;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#420572, var(--yellow));
	border-radius: 0.2rem;
}

body {
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: var(--purple);
	color: var(--light);
	font-weight: 500;
}

a {
	text-decoration: none;
	color: var(--light);
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

input {
	outline: none;
	border-radius: 0.5rem;
}

button {
	cursor: pointer;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.button {
	background: var(--purple);
	color: var(--light);
	font-size: 1.4rem;
	font-weight: 400;
}
.button-yellow {
	background: var(--yellow);
	color: var(--dark);
}
.button-form {
	width: 100%;
	height: 3.5rem;
}

a.button {
	display: grid;
	place-items: center;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.flex-center-x {
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 90%;
	max-width: 120rem;
	margin: 0 auto;
}

.header {
	width: 100%;
	height: 10rem;
	background: var;
	position: relative;
	background: var(--dark);
	margin-bottom: 4rem;
}
.header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6rem;
}
.logo {
	font-weight: 700;
	font-size: 2rem;
}
.logo a {
	color: var(--yellow);
}
.header-form {
	width: 50%;
	max-width: 30rem;
}
.header-form input {
	border-radius: 2rem;
	background: var(--purple);
	color: var(--light);
	border: none;
	padding: 0.5rem 1.5rem;
	width: 100%;
}
.nav {
	background: var(--light);
	width: 100%;
	height: 4rem;
	position: absolute;
	top: calc(100% - 4rem);
	left: 0;
	display: flex;
	padding: 0 5%;
	align-items: center;
	justify-content: space-between;
}
.nav-menu,
.nav-actions {
	display: flex;
	gap: 1rem;
}
.nav-menu-item a {
	color: var(--dark);
}
.nav-actions p {
	display: none;
	line-height: 3rem;
	color: var(--dark);
}
@media screen and (min-width: 600px) {
	.nav-actions p {
		display: initial;
	}
}
@media screen and (min-width: 1000px) {
	.header {
		height: 7rem;
	}
	.header .wrapper {
		justify-content: flex-start;
		height: 100%;
	}
	.header-form {
		margin: 0 3rem;
	}
	.nav {
		position: initial;
		top: initial;
		left: initial;
		padding: 0;
		background: transparent;
	}
	.nav-menu-item a {
		color: var(--light);
	}
	.nav-actions p {
		color: var(--light);
	}
}

.form {
	background: var(--dark);
	border-radius: 1rem;
	width: 100%;
	max-width: 60rem;
	padding: 3rem 2rem;
	animation: form 0.5s ease-in;
}
@keyframes form {
	from {
		opacity: 0;
		transform: scale(0) rotate(360deg);
	}
}
.form fieldset {
	padding: 2rem;
	border-radius: 1rem;
	border: 0.3rem solid #3d0d62;
	margin-bottom: 4rem;
}
.form legend {
	font-weight: 600;
	font-size: 2rem;
}
.form-title {
	font-weight: 600;
	font-size: 3rem;
	margin-bottom: 3rem;
	color: var(--yellow);
}
.form-item {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 2rem;
}
.form-item label,
.form-item input {
	width: 100%;
}
.form-item input {
	border: 0.1rem solid var(--yellow);
	background: transparent;
	height: 3.5rem;
	padding: 0 1rem;
	color: var(--light);
}
.form-item input[type='file'] {
	border: none;
	padding: 0;
}
.form textarea {
	height: 25rem;
	border: 0.1rem solid var(--yellow);
	font-family: var(--font-family);
	padding: 1rem;
	background: transparent;
	border-radius: 0.5rem;
	outline: none;
}
.form .button-form {
	margin-top: 3rem;
}
@media screen and (min-width: 600px) {
	.form {
		padding: 5rem 4rem;
	}
	.form-title {
		margin-bottom: 4rem;
	}
}
@media screen and (min-width: 900px) {
	.form fieldset {
		padding: 3rem;
	}
}

.add-product {
	padding: 2rem 0 6rem;
}
.add-product .button-form {
	margin-top: 0rem;
}

.products {
	padding-bottom: 6rem;
	padding-top: 2rem;
}
.products .wrapper {
	display: grid;
	row-gap: 4rem;
	column-gap: 10rem;
}

.product-item {
	width: 100%;
	max-width: 70rem;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 35% 1fr;
	column-gap: 1rem;
}
.product-item figure {
	width: 100%;
}
.product-item figure img {
	border-radius: 0.5rem;
}
.product-item h3 {
	font-size: 2rem;
	color: var(--yellow);
	margin-bottom: 1rem;
	cursor: pointer;
}
.product-item p {
	font-size: 1.4rem;
}
.product-item .info {
	display: flex;
	align-items: center;
	column-gap: 2rem;
	margin: 1rem 0;
}
.product-item .info p {
	display: flex;
	column-gap: 0.5rem;
	font-weight: 600;
}
.product-item .info p svg {
	height: 2rem;
}
@media screen and (min-width: 800px) {
	.product-item {
		column-gap: 2rem;
	}
	.product-item h3 {
		font-size: 2.4rem;
	}
	.product-item p {
		font-size: 1.6rem;
	}
}
